@using FamilyIslandHelper.Api;
@using System.Collections;
@using FamilyIslandHelper.Api.Models.Abstract;
@using System.Web
@model CompareViewModel

@{
	ViewData["Title"] = "Compare Page";
}

<body>
	<form id="mainFormCompare" method="post" action="~/Compare/Index">
		<div id="apiVersionSelector">
			<label>API version:</label>
			<label>v1</label>
			@if (Model.ApiVersion == ApiVersion.v1)
			{
				<input id="ApiVersionCompare1" name="ApiVersion" type="radio" value="v1" checked="checked">
			}
			else
			{
				<input id="ApiVersionCompare1" name="ApiVersion" type="radio" value="v1">
			}
			<label>v2</label>
			@if (Model.ApiVersion == ApiVersion.v2)
			{
				<input id="ApiVersionCompare2" name="ApiVersion" type="radio" value="v2" checked="checked">
			}
			else
			{
				<input id="ApiVersionCompare2" name="ApiVersion" type="radio" value="v2">
			}
		</div>
		<div id="itemsCountSelector">
			<label>Items count:</label>
			<label>1</label>
			@if (Model.ItemsCountOnView == 1)
			{
				<input id="ItemsCountOnView1" name="ItemsCountOnView" type="radio" value="1" checked="checked">
			}
			else
			{
				<input id="ItemsCountOnView1" name="ItemsCountOnView" type="radio" value="1">
			}
			<label>2</label>
			@if (Model.ItemsCountOnView == 2)
			{
				<input id="ItemsCountOnView2" name="ItemsCountOnView" type="radio" value="2" checked="checked">
			}
			else
			{
				<input id="ItemsCountOnView2" name="ItemsCountOnView" type="radio" value="2">
			}
		</div>

		@if (Model.ItemsCountOnView == 2)
		{
			<div>
				<textarea id="ItemCompareInfo" name="ItemCompareInfo">@Model.ItemCompareInfo</textarea>
			</div>
		}

		<div id="CommonSettings" class="commonSettings">
			<div class="checkbox-wrapper-14">
				@Html.CheckBoxFor(m => m.ShowListOfComponentsForAll, new { @class = "switch" })
				@Html.LabelFor(m => m.ShowListOfComponentsForAll)
			</div>
			<div class="checkbox-wrapper-14">
				@Html.CheckBoxFor(m => m.ShowComponentsWithTimeAndEnergyForAll, new { @class = "switch" })
				@Html.LabelFor(m => m.ShowComponentsWithTimeAndEnergyForAll)
			</div>
		</div>

		<div class="float-container">
			<div class="float-child">
				<div id="Component1" class="component">
					<div id="BuildingsImages1">
						@foreach (var buildingName1 in @Model.BuildingsNames)
						{
							var classes = "buildingImageName";
							if (buildingName1 == @Model.BuildingName1)
							{
								classes += " selectedImage";
							}
							<img class="@classes" id="@buildingName1" width="60" onclick="setBuildingName(event, 'BuildingName1', 'mainFormCompare');" src="/resources/@Model.ApiVersion/@buildingName1" alt="@buildingName1" title="@buildingName1">
						}
						<input type="hidden" name="BuildingName1" id="BuildingName1" value="@Model.BuildingName1" />
					</div>
					<div>
						<label>Produce ratio: </label>@Html.DisplayFor(m => m.Building1ProduceRatio)
					</div>
					<div id="ItemsImages1">
						@foreach (var itemName1 in @Model.Items1)
						{
							var classes = "itemNameImage";
							if (itemName1 == @Model.ItemName1)
							{
								classes += " selectedImage";
							}
							<img class="@classes" id="@itemName1" width="60" onclick="setItemName(event, 'ItemName1', 'mainFormCompare');" src="/resources/@Model.ApiVersion/@Model.BuildingName1/@itemName1" alt="@itemName1" title="@itemName1">
						}
						<input type="hidden" name="ItemName1" id="ItemName1" value="@Model.ItemName1" />
					</div>
					<div>
						@Html.LabelFor(m => m.ItemCount1, "Item count:")
						<input type="number" class="itemCount" id="ItemCount1" name="ItemCount1" min="1" max="20" value="@Model.ItemCount1" />
					</div>
					<div>
						<label>Total production time:</label>
						<span id="totalTimeInfo1">@Model.TotalTimeInfo1</span>
					</div>
					@if (Model.ShowComponentsWithTimeAndEnergyForAll)
					{
						<div>
							<textarea id="ItemInfo1" name="ItemInfo1" class="personal">@Model.ItemInfo1</textarea>
						</div>
					}
					@if (Model.ShowListOfComponentsForAll)
					{
						<div>
							<label>Components:</label>
							@Html.Raw(HttpUtility.HtmlDecode(@Model.ComponentsTreeHtml1))
						</div>
					}
				</div>
			</div>

			@if (Model.ItemsCountOnView == 2)
			{
				<div class="float-child">
					<div id="Component2" class="component">
						<div id="BuildingsImages2">
							@foreach (var buildingName2 in @Model.BuildingsNames)
							{
								var classes = "buildingImageName";
								if (buildingName2 == @Model.BuildingName2)
								{
									classes += " selectedImage";
								}
								<img class="@classes" id="@buildingName2" width="60" onclick="setBuildingName(event, 'BuildingName2', 'mainFormCompare');" src="/resources/@Model.ApiVersion/@buildingName2" alt="@buildingName2" title="@buildingName2">
							}
							<input type="hidden" name="BuildingName2" id="BuildingName2" value="@Model.BuildingName2" />
						</div>
						<div>
							<label>Produce ratio: </label>@Html.DisplayFor(m => m.Building2ProduceRatio)
						</div>
						<div id="ItemsImages2">
							@foreach (var itemName2 in @Model.Items2)
							{
								var classes = "itemNameImage";
								if (itemName2 == @Model.ItemName2)
								{
									classes += " selectedImage";
								}
								<img class="@classes" id="@itemName2" width="60" onclick="setItemName(event, 'ItemName2', 'mainFormCompare');" src="/resources/@Model.ApiVersion/@Model.BuildingName2/@itemName2" alt="@itemName2" title="@itemName2">
							}
							<input type="hidden" name="ItemName2" id="ItemName2" value="@Model.ItemName2" />
						</div>
						<div>
							@Html.LabelFor(m => m.ItemCount2, "Item count:")
							<input type="number" class="itemCount" id="ItemCount2" name="ItemCount2" min="1" max="20" value="@Model.ItemCount2" />
						</div>
						<div>
							<label>Total production time:</label>
							<span id="totalTimeInfo2">@Model.TotalTimeInfo2</span>
						</div>
						@if (Model.ShowComponentsWithTimeAndEnergyForAll)
						{
							<div>
								<textarea id="ItemInfo2" name="ItemInfo2" class="personal">@Model.ItemInfo2</textarea>
							</div>
						}
						@if (Model.ShowListOfComponentsForAll)
						{
							<div>
								<label>Components:</label>
								@Html.Raw(HttpUtility.HtmlDecode(@Model.ComponentsTreeHtml2))
							</div>
						}
					</div>
				</div>
			}
		</div>
	</form>
</body>
