@using FamilyIslandHelper.Api;
@using System.Collections;
@using FamilyIslandHelper.Api.Models.Abstract;
@model ViewModel

@{
	ViewData["Title"] = "Details Page";
}

<body>
	<form id="mainForm" method="post" action="~/Home/Index">
		<div id="apiVersionSelector">
			<label>API version:</label>
			<label>v1</label>
			@if (Model.ApiVersion == ApiVersion.v1)
			{
				<input id="ApiVersion1" name="ApiVersion" type="radio" value="v1" checked="checked">
			}
			else
			{
				<input id="ApiVersion1" name="ApiVersion" type="radio" value="v1">
			}
			<label>v2</label>
			@if (Model.ApiVersion == ApiVersion.v2)
			{
				<input id="ApiVersion1" name="ApiVersion" type="radio" value="v2" checked="checked">
			}
			else
			{
				<input id="ApiVersion1" name="ApiVersion" type="radio" value="v2">
			}
		</div>

		<div id="CommonSettings" class="commonSettings">
			<div class="checkbox-wrapper-14">
				@Html.CheckBoxFor(m => m.ShowListOfComponents, new { @class = "switch" })
				@Html.LabelFor(m => m.ShowListOfComponents)
			</div>
		</div>

		<div class="component">
			<div id="BuildingsImages">
				@foreach (var buildingName in @Model.BuildingsNames)
				{
					var buildingImageName = buildingName + ".png";
					var classes = "buildingImageName";
					if (buildingName == @Model.BuildingName)
					{
						classes += " selectedImage";
					}
					var buildingsFolderName = "Buildings" + @Model.ApiPrefix;
					<img class="@classes" id="@buildingName" width="60" onclick="setBuildingName(event, 'BuildingName', 'mainForm');" src="/images/@buildingsFolderName/@buildingImageName" alt="@buildingName" title="@buildingName">
				}
				<input type="hidden" name="BuildingName" id="BuildingName" value="@Model.BuildingName" />
			</div>
			<div>
				<label>Produce ratio: </label>@Html.DisplayFor(m => m.BuildingProduceRatio)
			</div>
			<div id="ItemsImages">
				@foreach (var itemName in @Model.Items)
				{
					var itemNameImageName = itemName + ".png";
					var classes = "itemNameImage";
					if (itemName == @Model.ItemName)
					{
						classes += " selectedImage";
					}
					var itemsFolderName = "Items" + @Model.ApiPrefix;
					<img class="@classes" id="@itemName" width="60" onclick="setItemName(event, 'ItemName', 'mainForm');" src="/images/@itemsFolderName/@Model.BuildingName/@itemNameImageName" alt="@itemName" title="@itemName">
				}
				<input type="hidden" name="ItemName" id="ItemName" value="@Model.ItemName" />
			</div>
			<div>
				@Html.LabelFor(m => m.ItemCount, "Item count:")
				<input type="number" class="itemCount" id="ItemCount" name="ItemCount" min="1" max="20" value="@Model.ItemCount" />
			</div>
			<div>
				<textarea id="ItemInfo" name="ItemInfo" class="personal">@Model.ItemInfo</textarea>
			</div>
		</div>
	</form>
</body>
